@model ArticleViewModel
@{
    ViewData["Title"] = "Detalle Articulo";
    var dateFormated = Model.DateCreate.ToString("dd/MM/yyyy");
}
<br />
<div class="container">
    <div class="card">
        <div class="card-header bg-light text-light">
            <div class="col-12">
                <h1 class="text-primary text-center">@Model.Name</h1>
            </div>
            <div class="col-12">
                <p class="text-muted">Fecha: @dateFormated</p>
            </div>
        </div>

        <div class="card-body">
            <div class="col-12">
                <img src="@Model.ImageUrl" class="img-thumbnail mx-auto d-block" />
                <p class="text-secondary"> 
                    @Html.Raw(Model.Description)
                </p>
            </div>
        </div>

        <div class="card-footer">
            <div class="col-12">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Regresar</a>
            </div>
        </div>
    </div>  
</div>